<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./css/style.css">
    <title>AI Photo Generator</title>
  </head>
  <body>
    <main>

      <h1 class="animated">AI <span class="accent">Photo</span> Generator</h1>

      <div id="result">
        Image will appear here
      </div>

      <form class="animated">
        <textarea name="prompt" maxlength="160" required placeholder="Description of image"></textarea>
        <button type="submit">Submit</button>
      </form>

    </main>
    <script src="./javascript/main.js"></script>
  </body>
</html>
