@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
body {
  background-color: white;
  color: black;
  font-family: 'Inter', sans-serif;
  margin-top: 50px;
}

main {
 display: grid;
 place-items: center;
}

.accent{
  color: #684EC7;
}

h1 {
  font-family: "Inter";
  font-weight: 600;
  font-size: 2rem;
  
}

#result {
  aspect-ratio: 1/1;
  max-width: 512px;
  width: 100%;
  background: #E3DBFF;
  display: flex;
  justify-content: center;
  align-items: center;

}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 512px;
  margin-top: 2rem;
}

textarea {
  width: 100%;
  height: 100px;
  margin: 10px 0;
  font-size: 1.5rem;
}

button {
  width: 100%;
  height: 50px;
  background-color: #684EC7;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: 600;
  margin-bottom: 50px;
  transition: background-color 450ms ease-in-out;
}

button:hover {
  background-color:black;
  
}

.hidden {
  display: none;
}


.spinner {
  animation: spin 1s linear infinite;
  display: inline-block;
}



.animated, #result{
  animation: fadeInLeft 1s both;
}

@keyframes fadeInLeft{
  0%{
    opacity: 0;
    transform: translateX(-100%);
  }
  100%{
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes spin {
  from {transform:rotate(0deg);}
  to {transform:rotate(360deg);}
}

@media screen and (min-width: 800px) {
  h1 {
    font-size: 3rem; /* Font size for large screens (min-width: 1024px) */
  }
}

@media screen and (min-width: 1024px) {
  h1 {
    font-size: 4rem; /* Font size for large screens (min-width: 1024px) */
  }
}